@{
    ViewBag.Title = "Home Page";
}

<!-- Home Section -->
<section id="home" class="relative">
    <div id="slides">
        <div class="slides-container relative">
            <!-- Slider Images -->
            <div class="image2"></div>
            <div class="image1"></div>
            <div class="image3"></div>
            <div class="image4"></div>
            <!-- End Slider Images -->
        </div>
        <!-- Slider Controls -->
        <nav class="slides-navigation">
            <a href="#" class="next"></a>
            <a href="#" class="prev"></a>
        </nav>
    </div><!-- End Home Slides -->
    <div class="v2 absolute">
        <!-- Auto Typocraphic Texts -->
        <div class="typographic">
            <!-- Your Logo -->
            <div class="logo">
                <img src="~/Content/images/logo-icon.png" width="200" alt="Logo" />
            </div>
            <h2 class="condensed uppercase no-padding no-margin bold gray1">Introducing</h2>
            <h2 class="condensed uppercase no-padding no-margin bold colored">Fitness Passion</h2>
            @*<a href="#about" class="scroll"><i class="arrow-down fa fa-3x fa-angle-double-down"></i></a>*@
        </div><!--End Auto Typocraphic Texts -->
    </div><!-- End V2 area -->
</section>
<!-- End Home Section -->
<!-- Fun Acts -->
<section id="fun-acts" class="container">

    <div class="inner fun-acts">
        <div class="about-margin"></div>
        <a class="about-icon">
            <i class="fa fa-life-ring"></i>
        </a>
        <br />

        <!-- Header -->
        <h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="400">
            Winners Train,<span class="colored" data-animation="fadeInRight">Losers Complain</span>
        </h1>
        <!-- Description -->
        <p class="h-desc"><span class="colored">lorem Ipsum is lorem Ipsum</span> lorem Ipsum is simply dummy text of the printing and typesetting industry loremipsum. lorem Ipsum is simply dummy text of the printing and typesetting industry loremipsum is simple.</p>

    </div><!-- End Fun Acts Inner -->
</section>
<!-- End Fun Acts Section -->