
@{
    ViewBag.Title = "ListSerialChuaIn";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}
<script src="~/Areas/Admin/Content/jquery2.0.3.min.js"></script>
<div class="row">
    @if (Session["quyen"]!=null)
    {
        <div class="col-md-6">
            <a class="btn btn-warning" style="margin-left:20px" href="/Admin/Serial/AddNewSerial" onclick="return confirm('Bạn muốn Tạo Mới Serial Number ??')">
                <i class="fa fa-plus-circle"></i>&nbsp;&nbsp; Tạo mới "Serial number TeK"
            </a>
        </div>
    }
    <div class="col-md-6">
        <h2>List Serial chưa In</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="pull-right label label-warning" style="margin-bottom: 5px; color: white; font-family: monospace; font-weight: bold; font-size: large">
                @Session["ThongBaoSerialSPchuaIn"]
            </div>
        </div>
        <div class="panel panel-default" style="margin-top:10px">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-danger" style="margin-left:20px" href="/Admin/Serial/DeleteSerialSP" onclick="return confirm('Bạn muốn Xóa tất cả S/N Sản Phẩm còn lại ??')">
                            <i class="fa bg-gradient-faded-danger"></i>&nbsp;&nbsp; Xóa S/N Sản Phẩm
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h5>List Serial Sản Phẩm</h5>
                    </div>
                    
                </div>

                </div>
            <div class="panel-body">
                <img id="loading" hidden src="~/Areas/Admin/Content/img/loading.gif" />
                <div class="listSerSP" style="max-height: 700px; overflow: auto">


                </div>
            </div>
            <div class="panel-footer">

                <div class="row">
                    <div class="col-md-8">
                        <span class="TongSanPham"></span>
                    </div>
                    <div class="col-md-4" style="text-align: right">
                        <span class="TongSanPham"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="pull-right label label-warning" style="margin-bottom: 5px; color: white; font-family: monospace; font-weight: bold; font-size: large">
                @Session["ThongBaoSerialBoxchuaIn"]
            </div>
        </div>
        <div class="panel panel-default" style="margin-top:10px">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-danger" style="margin-left:20px" href="/Admin/Serial/DeleteSerialBox" onclick="return confirm('Bạn muốn Xóa tất cả S/N Box còn lại ??')">
                            <i class="fa bg-gradient-faded-danger"></i>&nbsp;&nbsp; Xóa S/N Box
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h5>List Serial Box</h5>
                    </div>
                </div>

                </div>
            <div class="panel-body">
                <img id="loading" hidden src="~/Areas/Admin/Content/img/loading.gif" />
                <div class="listSerBox" style="max-height: 700px; overflow: auto">


                </div>
            </div>
            <div class="panel-footer">

                <div class="row">
                    <div class="col-md-8">
                        <span class="TongSanPham"></span>
                    </div>
                    <div class="col-md-4" style="text-align: right">
                        <span class="TongSanPham"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script>
    
    LoadPage();
    function LoadPage() {
        $.ajax({
            url: "/Admin/Serial/GetListSer_SP",
            data: {},
            success: function (respone) {
                $(".listSerSP").html(respone);
                //var pagesp = pageNo + 1;
                //$('.TongSanPham').html(pagesp + '/' + TongSP + ' trang');
            }
        });
        $.ajax({
            url: "/Admin/Serial/GetListSer_Box",
            data: {},
            success: function (respone) {
                $(".listSerBox").html(respone);
                //var pagesp = pageNo + 1;
                //$('.TongSanPham').html(pagesp + '/' + TongSP + ' trang');
            }
        });
    };
</script>


